
.icon-music:before { content: '\e800'; } /* '' */
.icon-briefcase:before { content: '\e801'; } /* '' */
.icon-feather:before { content: '\e802'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */